# Data Analytics with Pandas

In this tutorial we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. 

A few basic concepts to be covered include:

    1. Pandas: creating data(lists, Series, Data Frames); 
    2. Dealing with already existing data (Data Input and Output)
    3. Data Manipulation: Methods and Operations on Data
    4. Exercise- Men at work!!!

In [1]:
import pandas as pd
from pandas import DataFrame, Series

### Creating Data

In [2]:
#creating series from lists
names = ['Rexy', 'Raphael','Rita','Razel','Randiel']
weight= [70, 75, 78, 73, 72]
names

['Rexy', 'Raphael', 'Rita', 'Razel', 'Randiel']

In [3]:
SeriesNames = pd.Series(names, index = weight )
SeriesNames

70       Rexy
75    Raphael
78       Rita
73      Razel
72    Randiel
dtype: object

In [4]:
SeriesNames[70]

'Rexy'

In [5]:
SeriesNames2= pd.Series(['Damalie','Damon','Durim','Donald'], index = ['A','B','C','D'])
SeriesNames2

A    Damalie
B      Damon
C      Durim
D     Donald
dtype: object

In [6]:
SeriesNames2['D']

'Donald'

In [7]:
#Creating Series from dictionaries
cities = {0:'Kampala',
         1:'Arusha',
         2:'Nyeri',
         3:'Addis',
         4: 'Accra'}

In [8]:
cities

{0: 'Kampala', 1: 'Arusha', 2: 'Nyeri', 3: 'Addis', 4: 'Accra'}

In [9]:
DSA_CITIES = pd.Series(cities)
DSA_CITIES

0    Kampala
1     Arusha
2      Nyeri
3      Addis
4      Accra
dtype: object

In [10]:
population = pd.Series({0: 250000,
                       1: 150000,
                       2: 230000,
                       3: 500000,
                       4: 100000})
population

0    250000
1    150000
2    230000
3    500000
4    100000
dtype: int64

In [11]:
AreaPerKm = pd.Series({0: 1000,
                      1: 5000,
                      2: 24000,
                      3: 4300,
                      4: 6000})
AreaPerKm

0     1000
1     5000
2    24000
3     4300
4     6000
dtype: int64

In [12]:
#creating a dataframe
data = pd.DataFrame({'City': DSA_CITIES,
             'Size': AreaPerKm,
             'Population': population})
data

      City   Size  Population
0  Kampala   1000      250000
1   Arusha   5000      150000
2    Nyeri  24000      230000
3    Addis   4300      500000
4    Accra   6000      100000

In [13]:
#Querying the data
data.City
print (data.columns)
data[['Size', 'Population']]

Index(['City', 'Size', 'Population'], dtype='object')

    Size  Population
0   1000      250000
1   5000      150000
2  24000      230000
3   4300      500000
4   6000      100000

In [14]:
#Adding a new column
data['Population Density'] = data['Population'] / data['Size']
data

      City   Size  Population  Population Density
0  Kampala   1000      250000          250.000000
1   Arusha   5000      150000           30.000000
2    Nyeri  24000      230000            9.583333
3    Addis   4300      500000          116.279070
4    Accra   6000      100000           16.666667

### Dealing with already existing Data

In [2]:
covid_data= pd.read_csv('E:\Intership Marconi\machine-learning/covidset.csv')

In [3]:
covid_data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
0,01/07/2020,1,7,2020,279,13,Afghanistan,AF,AFG,38041757.0,Asia
1,30/06/2020,30,6,2020,271,12,Afghanistan,AF,AFG,38041757.0,Asia
2,29/06/2020,29,6,2020,351,18,Afghanistan,AF,AFG,38041757.0,Asia
3,28/06/2020,28,6,2020,165,20,Afghanistan,AF,AFG,38041757.0,Asia
4,27/06/2020,27,6,2020,276,8,Afghanistan,AF,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
26977,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
26978,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa
26979,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
26980,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
26981,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa

In [17]:
covid_data.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp'],
      dtype='object')

#### Selection and Indexing

In [18]:
covid_data['cases']
covid_data[['cases','deaths']]

       cases  deaths
0        279      13
1        271      12
2        351      18
3        165      20
4        276       8
...      ...     ...
26977      0       0
26978      0       1
26979      0       0
26980      1       0
26981      1       0

[26982 rows x 2 columns]

*Data Frame columns are just series*

In [19]:
type(covid_data['cases'])

pandas.core.series.Series

#### Selecting Rows

In [20]:
covid_data.loc[0]

dateRep                     01/07/2020
day                                  1
month                                7
year                              2020
cases                              279
deaths                              13
countriesAndTerritories    Afghanistan
geoId                               AF
countryterritoryCode               AFG
popData2019                3.80418e+07
continentExp                      Asia
Name: 0, dtype: object

In [21]:
covid_data.iloc[2]

dateRep                     29/06/2020
day                                 29
month                                6
year                              2020
cases                              351
deaths                              18
countriesAndTerritories    Afghanistan
geoId                               AF
countryterritoryCode               AFG
popData2019                3.80418e+07
continentExp                      Asia
Name: 2, dtype: object

#### Selecting subset of rows and columns

In [22]:
covid_data.loc[0,'cases']

279

In [23]:
covid_data.loc[[0,2,4],['cases','deaths']]

   cases  deaths
0    279      13
2    351      18
4    276       8

#### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [24]:
#covid_data['cases']>200 - Returns boolean values
#covid_data[covid_data['cases']>200] -returns entire dataframe following the specified constraint
covid_data[covid_data['cases']>1000][['dateRep','deaths','countriesAndTerritories']]

          dateRep  deaths   countriesAndTerritories
46     16/05/2020      32               Afghanistan
881    01/07/2020      27                 Argentina
882    30/06/2020      63                 Argentina
884    28/06/2020      40                 Argentina
886    26/06/2020      39                 Argentina
...           ...     ...                       ...
25937  22/03/2020      80  United_States_of_America
25938  21/03/2020     110  United_States_of_America
25939  20/03/2020       0  United_States_of_America
25940  19/03/2020      42  United_States_of_America
25941  18/03/2020      23  United_States_of_America

[1664 rows x 3 columns]

In [25]:
covid_data.columns
covid_data[(covid_data['month']==12)&(covid_data['year']==2019)]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
173,31/12/2019,31,12,2019,0,0,Afghanistan,AF,AFG,38041757.0,Asia
467,31/12/2019,31,12,2019,0,0,Algeria,DZ,DZA,43053054.0,Africa
1172,31/12/2019,31,12,2019,0,0,Armenia,AM,ARM,2957728.0,Europe
1457,31/12/2019,31,12,2019,0,0,Australia,AU,AUS,25203200.0,Oceania
1641,31/12/2019,31,12,2019,0,0,Austria,AT,AUT,8858775.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
24507,31/12/2019,31,12,2019,0,0,Thailand,TH,THA,69625581.0,Asia
25544,31/12/2019,31,12,2019,0,0,United_Arab_Emirates,AE,ARE,9770526.0,Asia
25728,31/12/2019,31,12,2019,0,0,United_Kingdom,UK,GBR,66647112.0,Europe
26019,31/12/2019,31,12,2019,0,0,United_States_of_America,US,USA,329064917.0,America
26623,31/12/2019,31,12,2019,0,0,Vietnam,VN,VNM,96462108.0,Asia

In [26]:
#More than one condition
covid_data[(covid_data['month']==12)&(covid_data['year']==2019)&covid_data['cases']>0]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
5475,31/12/2019,31,12,2019,27,0,China,CN,CHN,1.433784e+09,Asia

#### Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [27]:
covid_data.groupby('continentExp')

In [28]:
by_continent = covid_data.groupby("continentExp")

And then call aggregate methods off the object:

In [29]:
by_continent.mean()[['cases','deaths']]

                   cases     deaths
continentExp
Africa         69.231926   1.734233
America       951.260179  45.086607
Asia          354.618629   8.829073
Europe        300.899236  23.646465
Oceania         9.692387   0.136831
Other          10.875000   0.109375

In [30]:
covid_data.groupby('continentExp').mean()[['cases','deaths']]

                   cases     deaths
continentExp
Africa         69.231926   1.734233
America       951.260179  45.086607
Asia          354.618629   8.829073
Europe        300.899236  23.646465
Oceania         9.692387   0.136831
Other          10.875000   0.109375

In [31]:
by_continent.std()[['cases','deaths']]

                    cases      deaths
continentExp
Africa         340.430511    7.956224
America       4422.759924  225.989320
Asia          1210.533348   43.696429
Europe        1085.048329  105.980585
Oceania         45.777897    0.595902
Other           27.530358    0.403051

In [33]:
by_continent.sum()[['cases','deaths']]

                cases  deaths
continentExp
Africa         405076   10147
America       5327057  252485
Asia          2261403   56303
Europe        2442700  191962
Oceania          9421     133
Other             696       7

In [34]:
by_continent.count()[['cases','deaths']]

              cases  deaths
continentExp
Africa         5851    5851
America        5600    5600
Asia           6377    6377
Europe         8118    8118
Oceania         972     972
Other            64      64

In [35]:
#Equivalence of the count method
len(covid_data[covid_data['continentExp']=='Africa'])

5851

In [36]:
by_continent.describe()[['cases','deaths']]

               cases                                                    \
               count        mean          std     min  25%  50%    75%
continentExp
Africa        5851.0   69.231926   340.430511  -209.0  0.0  3.0   30.0
America       5600.0  951.260179  4422.759924 -2461.0  0.0  1.0   79.0
Asia          6377.0  354.618629  1210.533348     0.0  0.0  8.0  156.0
Europe        8118.0  300.899236  1085.048329  -766.0  0.0  9.0  103.0
Oceania        972.0    9.692387    45.777897     0.0  0.0  0.0    2.0
Other           64.0   10.875000    27.530358    -9.0  0.0  0.0    0.0

                       deaths                                                \
                  max   count       mean         std     min  25%  50%  75%
continentExp
Africa         7210.0  5851.0   1.734233    7.956224     0.0  0.0  0.0  1.0
America       54771.0  5600.0  45.086607  225.989320     0.0  0.0  0.0  2.0
Asia          19906.0  6377.0   8.829073   43.696429     0.0  0.0  0.0  2.0
Europe        11656.0  8118.0  23.646465  105.980585 -1918.0  0.0  0.0  4.0
Oceania         611.0   972.0   0.136831    0.595902     0.0  0.0  0.0  0.0
Other           134.0    64.0   0.109375    0.403051     0.0  0.0  0.0  0.0


                 max
continentExp
Africa         168.0
America       4928.0
Asia          2003.0
Europe        2004.0
Oceania          7.0
Other            2.0

In [37]:
by_continent.describe()[['cases','deaths']].transpose()

continentExp       Africa       America          Asia        Europe  \
cases  count  5851.000000   5600.000000   6377.000000   8118.000000
       mean     69.231926    951.260179    354.618629    300.899236
       std     340.430511   4422.759924   1210.533348   1085.048329
       min    -209.000000  -2461.000000      0.000000   -766.000000
       25%       0.000000      0.000000      0.000000      0.000000
       50%       3.000000      1.000000      8.000000      9.000000
       75%      30.000000     79.000000    156.000000    103.000000
       max    7210.000000  54771.000000  19906.000000  11656.000000
deaths count  5851.000000   5600.000000   6377.000000   8118.000000
       mean      1.734233     45.086607      8.829073     23.646465
       std       7.956224    225.989320     43.696429    105.980585
       min       0.000000      0.000000      0.000000  -1918.000000
       25%       0.000000      0.000000      0.000000      0.000000
       50%       0.000000      0.000000      0.000000      0.000000
       75%       1.000000      2.000000      2.000000      4.000000
       max     168.000000   4928.000000   2003.000000   2004.000000

continentExp     Oceania       Other
cases  count  972.000000   64.000000
       mean     9.692387   10.875000
       std     45.777897   27.530358
       min      0.000000   -9.000000
       25%      0.000000    0.000000
       50%      0.000000    0.000000
       75%      2.000000    0.000000
       max    611.000000  134.000000
deaths count  972.000000   64.000000
       mean     0.136831    0.109375
       std      0.595902    0.403051
       min      0.000000    0.000000
       25%      0.000000    0.000000
       50%      0.000000    0.000000
       75%      0.000000    0.000000
       max      7.000000    2.000000

In [38]:
by_continent.describe()['cases'].transpose()

continentExp,Africa,America,Asia,Europe,Oceania,Other
count,5851.000000,5600.000000,6377.000000,8118.000000,972.000000,64.000000
mean,69.231926,951.260179,354.618629,300.899236,9.692387,10.875000
std,340.430511,4422.759924,1210.533348,1085.048329,45.777897,27.530358
min,-209.000000,-2461.000000,0.000000,-766.000000,0.000000,-9.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,8.000000,9.000000,0.000000,0.000000
75%,30.000000,79.000000,156.000000,103.000000,2.000000,0.000000
max,7210.000000,54771.000000,19906.000000,11656.000000,611.000000,134.000000

**Questions**
1. Number of rows and columns in the data
2. Number of columns in the data
3. Number of countries reported on in the data
4. Specify the countries captured in the data
5. Number of continents in the data
6. Which country (ies) is(are) included in the continent named 'Other' in the data?
7. How many African countries are in the data?
8. Which African country had the highest total cases in June 2020?
9. When did Tanzania register the first covid case?

In [39]:
#Question1
covid_data.shape

(26982, 11)

In [40]:
#Question2
covid_data.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp'],
      dtype='object')

In [41]:
#Question 3
covid_data['countriesAndTerritories'].nunique()

210

In [42]:
#Question 4
covid_data['countriesAndTerritories'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia',
       'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia',
       'New_Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Somalia', 'South_Africa', 'South_Korea',
       'South_Sudan', 'Spain', 'Sri_Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'Togo', 'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Western_Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [43]:
#Question 5
covid_data['continentExp'].unique()

array(['Asia', 'Europe', 'Africa', 'America', 'Oceania', 'Other'],
      dtype=object)

In [44]:
#Question 6
covid_data[covid_data['continentExp'] == 'Other']['countriesAndTerritories'].unique()

array(['Cases_on_an_international_conveyance_Japan'], dtype=object)

In [45]:
covid_data['countriesAndTerritories']=covid_data['countriesAndTerritories'].replace('Cases_on_an_international_conveyance_Japan','Japan')

In [46]:
covid_data['countriesAndTerritories'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde', 'Japan',
       'Cayman_Islands', 'Central_African_Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa_Rica',
       'Cote_dIvoire', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia', 'New_Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Somalia', 'South_Africa', 'South_Korea',
       'South_Sudan', 'Spain', 'Sri_Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'Togo', 'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Western_Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [47]:
covid_data[covid_data['continentExp'] == 'Other']['countriesAndTerritories'].unique()

array(['Japan'], dtype=object)

In [48]:
covid_data['continentExp']=covid_data['continentExp'].replace('Other','Asia')

In [49]:
covid_data['continentExp'].unique()

array(['Asia', 'Europe', 'Africa', 'America', 'Oceania'], dtype=object)

In [50]:
#Question 7
Africa_covidData=covid_data[covid_data['continentExp']=='Africa']
Africa_covidData['countriesAndTerritories'].nunique()

55

In [51]:
#Question 8
Africa_covidData[Africa_covidData['month']==6]['cases'].max()

7210

In [52]:
#Question 8
Africa_covidata = covid_data[covid_data['continentExp']=='Africa']
Africa_junecoviddata=Africa_covidata[Africa_covidata['month']==6]
#Africa_junecoviddata[Africa_junecoviddata['cases']==Africa_junecoviddata['cases'].max()]

In [53]:
Africa_junecoviddata.sort_values(by='countriesAndTerritories')

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
290,30/06/2020,30,6,2020,298,8,Algeria,DZ,DZA,43053054.0,Africa
319,01/06/2020,1,6,2020,127,7,Algeria,DZ,DZA,43053054.0,Africa
318,02/06/2020,2,6,2020,119,8,Algeria,DZ,DZA,43053054.0,Africa
317,03/06/2020,3,6,2020,113,6,Algeria,DZ,DZA,43053054.0,Africa
316,04/06/2020,4,6,2020,0,0,Algeria,DZ,DZA,43053054.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...
26881,29/06/2020,29,6,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
26880,30/06/2020,30,6,2020,7,1,Zimbabwe,ZW,ZWE,14645473.0,Africa
26908,02/06/2020,2,6,2020,25,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
26893,17/06/2020,17,6,2020,7,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
26909,01/06/2020,1,6,2020,4,0,Zimbabwe,ZW,ZWE,14645473.0,Africa

In [54]:
Africa_junecoviddata['cases'].max()

7210

In [55]:
#Answer to Qn8
Africa_junecoviddata.loc[Africa_junecoviddata['cases'].idxmax()]['countriesAndTerritories']

'South_Africa'

In [56]:
#Alternative Approach
Africa_junecoviddata[Africa_junecoviddata['cases']== Africa_junecoviddata['cases'].max()]['countriesAndTerritories']

22662    South_Africa
Name: countriesAndTerritories, dtype: object

In [57]:
#Question 9
Tanzania_data =Africa_covidData[Africa_covidData['countriesAndTerritories']=='United_Republic_of_Tanzania']
Tanzania_data=Tanzania_data.reset_index(drop=True)
Tanzania_data.iloc[-1]['dateRep']

'17/03/2020'

In [64]:
#Correlation between Cases and Deaths
covid_data[['cases','deaths']].corr(method='pearson')

           cases    deaths
cases   1.000000  0.793487
deaths  0.793487  1.000000

In [65]:
covid_data[['cases','deaths']].corr(method='kendall')

           cases    deaths
cases   1.000000  0.656367
deaths  0.656367  1.000000

In [66]:
covid_data[['cases','deaths']].corr(method='spearman')

           cases    deaths
cases   1.000000  0.755298
deaths  0.755298  1.000000

## Exercise

10. Which continent had the highest number of deaths in March?
11. Which African country registered the first case?
12. In which month are the most cases reported?
13. Is there a relation between the cases in America and the cases in Asia?
14. Which European country has the highest frequency in number of deaths reported?
15. What is the name of the country with the lowest daily reported cases in the month of March
16. On average, how many cases were registered in Asia and Africa from March to June?
17. Based on the African countries represented in the data, introduce a new column called 'Region'and answer the question below. [Link to the Regions](https://en.wikipedia.org/wiki/List_of_regions_of_Africa)
18. Which region has had the highest number of registered cases overtime?
19. Which region has registered a drop in the number of registered cases over time?